@import './../../../mixin.scss';

div {
    width: 100%;
    height: fit-content;

    @include display();
    position: relative;

    margin-top: 150px;

    .text {
        width: 42.5%;
        height: 775px;

        @include display($ai: flex-start);
    }

    .photo {
        width: 42.5%;
        height: 775px;

        @include display();
    }

    .shadow {
        position: absolute;
        right: -624px; bottom: 25px;
        z-index: -99;
    }

    .line {
        width: 1350px;

        position: absolute;
        left: 1600px;

        border: 4px solid var(--turquoise2);
        margin: 0;
        z-index: -9;
    }
}

@media all and (min-width: 1600px) and (max-width: 1799px) {
    
    div {
        width: 90%;

        .text {
            width: 60%;
        }

        .photo {
            width: 40%;
        }

        .line {
            width: 200px;
            left: inherit;
            right: -115px;
        }
    }
}

@media all and (min-width: 1300px) and (max-width: 1599px) {
    
    div {

        .text {
            width: 55%;
            height: 600px;
        }

        .photo {
            width: 35%;
            height: 600px;
        }

        .shadow {
            height: 850px;
            
            bottom: 25px;
        }

        .line {
            width: 175px;
            left: inherit;
            right: 0px;
        }
    }
}

@media all and (min-width: 900px) and (max-width: 1299px) {
        
    div {

        .text {
            width: 90%;
            height: fit-content;
        }

        .photo {
            width: 35%;
            height: 600px;

            display: none;
        }

        .shadow {
            height: 850px;
            
            bottom: 25px;
        }

        .line {
            display: none;
        }
    }
}

@media all and (min-width: 600px) and (max-width: 899px) {
        
    div {

        .text {
            width: 90%;
            height: fit-content;
        }

        .photo {
            display: none;
        }

        .shadow {
            height: 600px;
            
            bottom: 275px;
        }

        .line {
            display: none;
        }
    }
}

@media all and (min-width: 300px) and (max-width: 599px) {
        
    div {

        .text {
            width: 90%;
            height: fit-content;
        }

        .photo {
            display: none;
        }

        .shadow {
            height: 400px;
            
            bottom: 675px;
        }

        .line {
            display: none;
        }
    }
}