@import './../../../../mixin.scss';

div {
    width: 100%;
    height: fit-content;

    @include display();
    position: relative;

    .line-arround {
        width: 150px;

        border: 3px solid var(--turquoise);
    }

    h1 {
        width: 600px;

        font-size: 110px;
        font-weight: 900;
        text-align: center;
    }

    .line3 {
        width: 1675px;

        position: absolute;
        left: 1200px;

        border: 3px solid var(--turquoise);
    }
}

@media all and (min-width: 1600px) and (max-width: 1799px) {
    div {

        h1 {
            font-size: 85px;
        }

        .line3 {
            width: 575px;
            left: 1150px;
        }
    }
}

@media all and (min-width: 1300px) and (max-width: 1599px) {
    div {

        h1 {
            width: 400px;
            font-size: 65px;
        }

        .line3 {
            width: 600px;
            left: 925px;
        }
    }
}

@media all and (min-width: 900px) and (max-width: 1299px) {
    div {

        h1 {
            width: 500px;
            font-size: 95px;
        }

        .line-arround {
            width: 125px;
        }

        .line3 {
            width: 23%;
            left: inherit;
            right: -6%;
        }
    }
}

@media all and (min-width: 600px) and (max-width: 899px) {
    div {

        h1 {
            width: 400px;
            font-size: 75px;
        }

        .line-arround {
            width: 75px;
        }

        .line3 {
            width: 19.5%;
            left: inherit;
            right: -5%;
        }
    }
}

@media all and (min-width: 300px) and (max-width: 599px) {
    div {

        h1 {
            width: 225px;
            font-size: 45px;
        }

        .line-arround {
            width: 20px;

            border: 2px solid var(--turquoise);
        }

        .line3 {
            display: none;
        }
    }
}