@import './../../../../mixin.scss';

.contain1 {
    width: 100%;
    height: 100%;

    @include display();
}

.photo-contain {
    width: 100%;
    height: fit-content;

    @include display();

    .circle {
        width: 650px;
        height: 650px;

        @include display();

        border: 8px solid var(--turquoise2);
        border-radius: 50%;

        overflow: hidden;

        .photo {
            width: 650px;
        }
    }
}

@media all and (min-width: 1600px) and (max-width: 1799px) {
    .photo-contain {
        
        .circle {
            width: 550px;
            height: 550px;

            .photo {
                width: 550px;
            }
        }
    }
}

@media all and (min-width: 1300px) and (max-width: 1599px) {
    .photo-contain {
        
        .circle {
            width: 450px;
            height: 450px;

            .photo {
                width: 450px;
            }
        }
    }
}