@media all and (min-width: 601px) and (max-width: 1000px) {

    /* Header */

    .header-main-contain {
        height: 200px;
    }

    .header-left-side-bg{
        width: 45%;
        height: auto;
    }

    .header-right-side {
        gap: 5px;
    }

    .responsive-menu-strip {
        width: fit-content;
        display: flex;
        padding-left: 10px;
    }

    .navbar-contain {
        width: 100%;
        height: fit-content;

        position: absolute;
        top: 40px; right: 0;

        display: none;
        flex-direction: column;
    }

    .navbar-my-name-contain {
        display: flex;
    }

    .navbar-my-name {
        font-size: 35px;
    }

    .my-name-contain {
        display: none;
    }

    .navbar-btn-contain {
        width: 56.5%;
        height: fit-content;

        padding-right: 0px;
        padding-bottom: 10px;
        
        display: none;
        gap: 15px;
        flex-direction: column;

        position: fixed;
        top: 75px;
    }

    .menu-button {
        font-size: 18px;
    }

    .posi-fix {
        position: fixed;
        top: 0;
    }
    
    .header-about-me {
        margin-top: 0px;
    }

    .my-name {
        font-size: 25px;
    }

    .header-my-profession {
        font-size: 20px;
    }

    .header-my-training {
        font-size: 16px;
        text-align: center;
    }

    .header-bottom-line {
        height: 60px;
        margin-top: -200px;
    }

    /* Social Media */

    .social-media-contain {
        flex-wrap: wrap;
        gap: 20px;
    }

    .sm-title-line {
        width: 100%;
        gap: 20px;
    }

    .sm-line-contain {
        min-width: 125px;
    }

    .sm-visit {
        min-width: 140px;
        font-size: 25px;
    }

    .sm-icon-contain {
        gap: 20px;
    }

    .sm-icon {
        width: 38px;
    }

    .sm-placeholder {
        display: none;
    }

    /* That's me */

    .thats-me-main-contain {
        flex-direction: column;
        gap: 25px;
        padding-top: 0;
    }

    .thats-me-left {
        width: 100%;
        align-items: center;
        gap: 45px;
    }
    
    .thats-me-right {
        width: 100%;
    }

    .thats-me-contain {
        width: 95%;
        flex-direction: column;
        gap: 15px;
    }

    .thats-me-contain2 {
        width: 95%;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .thats-me-title {
        font-size: 55px;
    }

    .thats-me-text {
        text-align: center !important;
    }

    .career-img {
        width: 100px;
    }
    
    .thats-me-image {
        height: 325px;
    }

    /* My Skills */

    .my-skills-main-contain {
        height: fit-content;
        flex-direction: column-reverse;
    }

    .my-skills-image-center {
        width: 85%;
        gap: 15px;
    }

    .my-skills-image-contain {
        justify-content: center;
        gap: 25px;
    }

    .my-skills-image {
        width: 65px;
        border-radius: 15px;
    }

    .my-skills-text-center {
        width: 420px;
    }

    .my-skills-title-contain {
        gap: 35px;
    }

    .my-skills-title {
        font-size: 55px;
    }

    /* Portfolio */

    .portfolio-main-contain {
        gap: 15px;
    }

    .portfolio-line-contain {
        width: 25%;
        height: 100%;
    }

    .portfolio-title {
        font-size: 55px;
    }

    .portfolio-text {
        width: 85%;
        text-align: center;
    }

    .portfolio-contain {
        width: 90%;
        gap: 150px;
    }

    .my-portfolio {
        flex-direction: column;
    }

    .my-portfolio-responsive {
        flex-direction: column-reverse;
    }

    .portfolio-image {
        width: 400px;
    }

    .my-portfolio-text-contain {
        width: 100%;
        height: 300px;
    }

    .my-portfolio-text-contain-center {
        width: 85%;
        height: fit-content;
    
        gap: 25px;
    }

    .my-portfolio-title {
        font-size: 35px;
    }

    .write-with {
        font-size: 20px;
    }

    .my-portfolio-btn-test, .my-portfolio-btn-github {
        width: 200px;
        height: 35px;
        font-size: 20px;
    }

    /* Contact */

    .contact-main-contain, .contact-title-contain {
        gap: 25px;
    }

    .contact-title {
        font-size: 55px;
    }

    .contact-contain {
        width: 95%;
        flex-direction: column;
        gap: 25px;
    }

    .contact-left {
        width: 80%;
        align-items: center;
    }

    .contact-text {
        font-size: 23px;
    }

    .contact-text2 {
        text-align: center;
    }

    .contact-input-contain {
        width: 500px;
    }

    .contact-input-contain-textarea {
        width: 500px;
        height: 250px;
    }

    /* Footer */

    .footer-main-contain {
        flex-direction: column;
    }

    .footer-contain {
        width: 85%;
        height: 25%;
        justify-content: center;
    }

    .footer-my-name-contain {
        justify-content: center;
    }

    .footer-my-name {
        font-size: 40px;
    }

    .legal-notice {
        text-align: center;
    }

    .copyright {
        font-size: 20px;
    }

    .footer-sm {
        gap: 25px;
    }

    /* Legal notice */

    .close-btn {
        right: 115px;
    }
}