@import './../../../mixin.scss';

footer {
    width: 100vw;
    height: 300px;

    @include display();

    background-color: var(--darkerBG);
    border-top: 2px solid var(--turquoise);

    .footer-size {
        width: 100%;
        max-width: 1920px;
        height: 100%;

        @include display();

        .main-contain {
            width: 85%;
            height: 100%;
    
            @include display($jc: space-between);
    
            div {
                width: 500px;
                height: 100%;
            }
    
            .logo-contain {
                @include display($fd: column, $ai: flex-start);
    
                .my-logo {
                    width: 400px;
                }
    
                button {
                    width: fit-content;
                    height: fit-content;
    
                    @include display();
    
                    background-color: #00000000;
                    border: 0;
                    margin-left: 25px;
    
                    font-family: 'Poppins';
                    font-size: 22px;
                    color: var(--white);
    
                    text-decoration: none;
                    position: relative;
                    transition: all 0.3s ease;
    
                    /* Stile für den unterstrichenen Bereich */
                    &::before {
                        content: '';
                        height: 3px;
    
                        position: absolute;
                        bottom: 0;
                        left: 5px;
                        width: 0;
    
                        background-color: var(--turquoise);
                        transition: width 125ms ease-in-out;
                    }
    
                    &:hover::before {
                        width: 55%;
                    }
                }
            }
    
            span {
                width: 500px;
                height: fit-content;
    
                @include display();
    
                font-size: 25px;
            }
    
            .social-media-contain {
                @include display($jc: flex-end, $gap: 75px);
    
                img {
                    width: 55px;
                    cursor: url(./../../../assets/img/cursor/click.png), auto;
                    transition: all 125ms ease-in-out;
    
                    &:hover {
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}

