<div class="contain1">
    <div class="contain2">
        <h1 class="font-poppins">
            {{ globalJSData.isGerman ? german.headline : english.headline }}
        </h1>
    </div>
    <div class="contain2">
        <span class="font-poppins text">
            {{ globalJSData.isGerman ? german.aboutMe.z1 : english.aboutMe.z1 }}<br>
            {{ globalJSData.isGerman ? german.aboutMe.z2 : english.aboutMe.z2 }}<br>
            {{ globalJSData.isGerman ? german.aboutMe.z3 : english.aboutMe.z3 }}
        </span>
    </div>
    <div class="contain2">
        <div class="img-contain">
            <img src="assets/img/icons/path.png" class="img1">
        </div>
        <div class="contain3">
            <span class="font-poppins text">
                {{ globalJSData.isGerman ? german.myWay.z1 : english.myWay.z1 }}<br>
                {{ globalJSData.isGerman ? german.myWay.z2 : english.myWay.z2 }}<br>
                {{ globalJSData.isGerman ? german.myWay.z3 : english.myWay.z3 }}<br>
                {{ globalJSData.isGerman ? german.myWay.z4 : english.myWay.z4 }}<br>
                {{ globalJSData.isGerman ? german.myWay.z5 : english.myWay.z5 }}
            </span>
        </div>
    </div>
    <div class="contain2">
        <div class="img-contain">
            <img src="assets/img/icons/puzzle.png" class="img2">
        </div>
        <div class="contain3">
            <span class="font-poppins text">
                {{ globalJSData.isGerman ? german.thoughts.z1 : english.thoughts.z1 }}<br>
                {{ globalJSData.isGerman ? german.thoughts.z2 : english.thoughts.z2 }}<br>
                {{ globalJSData.isGerman ? german.thoughts.z3 : english.thoughts.z3 }}<br>
                {{ globalJSData.isGerman ? german.thoughts.z4 : english.thoughts.z4 }}
            </span>
        </div>
    </div>
</div>