@import './../../../../mixin.scss';

.contain1 {
    width: 100%;
    height: fit-content;

    @include display($fd: column, $gap: 20px);
}

.contain2 {
    width: 100%;
    height: fit-content;

    @include display($jc: flex-start, $ai: flex-start);

    h1 {
        width: 100%;
        height: fit-content;

        font-size: 110px;
        font-weight: 900;

        margin-top: 0;
        margin-bottom: 0;
    }

    .contain3 {
        width: 650px;
        @include display();    

        .text {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
}

.img-contain {
    width: 150px;
    height: 150px;

    @include display($ai: flex-start);

    .img1 {
        width: 128px;
    }

    .img2 {
        width: 100px;
    }
}

@media all and (min-width: 1600px) and (max-width: 1799px) {

    .contain2 {

        h1 {
            font-size: 85px;
        }
    }
}

@media all and (min-width: 1300px) and (max-width: 1599px) {
    
    .contain1 {
        @include display($fd: column, $gap: 10px);
    }

    .contain2 {

        h1 {
            font-size: 75px;
        }

        .contain3 {

            .text {
                font-size: 17px;
            }
        }
    }
}

@media all and (min-width: 600px) and (max-width: 899px) {

    .contain1 {
        @include display($fd: column, $gap: 10px);

        margin-top: 50px;
    }

    .contain2 {
        width: 100%;
    
        @include display($jc: flex-start, $ai: flex-start);
    
        h1 {
            font-size: 75px;
        }

        .contain3 {
            width: 500px;
            .text {
                font-size: 14px;
                margin-bottom: 25px;
            }
        }
    }
    
    .img-contain {
        width: 100px;
        height: 100px;
    
        @include display($ai: flex-start);
    
        .img1 {
            width: 90px;
        }
    
        .img2 {
            width: 70px;
        }
    }
}

@media all and (min-width: 300px) and (max-width: 599px) {
  
    .contain1 {
        @include display($fd: column, $gap: 15px);

        margin-top: 50px;
    }

    .contain2 {
        width: 100%;
    
        @include display($fd: column, $jc: flex-start, $ai: center);
    
        h1 {
            font-size: 45px;
            text-align: center;
        }

        .contain3 {
            width: 95%;
            @include display();
    
            .text {
                font-size: 14px;
                text-align: center;
    
                margin-bottom: 25px;
            }
        }
    }
    
    .img-contain {
        width: 100px;
        height: 100px;
    
        @include display($ai: flex-start);
    
        .img1 {
            width: 90px;
        }
    
        .img2 {
            width: 70px;
        }
    }
}